body {
    align-items: center;
    background-image: url("https://img.freepik.com/free-vector/colorful-abstract-background_23-2148481496.jpg");
    background-position:center;
    background-repeat: round;
    background-size: 1000px;
    /* _________________________________ */
    border-left: 200px solid #235cc5;
    border-right:  200px solid #235cc5;
    display: flex;
    flex-direction: column;
    font-family: 'Londrina Solid', sans-serif;
    margin: 0;
    min-height: 1000px;
    padding: 100px 100px 10px 100px;
}

h1 {
    color: #235cc5;
    outline-color: 3px black;
    font-family: 'Titan One', serif;
    font-size: 3em;
    margin-bottom: -20px;
}

.categories-listbox li.category {
    list-style: none;
    display: flex;
    grid-template-rows: 1fr;
    font-size: 1.7em;
    margin-bottom: 16px;
    padding: 20px 60px 20px 60px;
    width: 70%;
}

.category a {
    color: hsl(186, 60%, 48%);
}

.categories h2 > a {
    color: hsl(58, 60%, 48%);
    background-position: center;
    font-family: 'Titan One', serif;
    font-style: oblique;
    transform: scale(1.1);
}