body{
background: rgb(78, 174, 162);
color: rgb(39, 15, 191);
text-align: center;
}


h1{
color: hsl(350, 12%, 50%);
text-align: center;
}

.categories li.category{
    list-style: none;
    text-align: center;
    cursor: pointer;
    /* padding-top: 10px;
    font-size: 21px; */
    align-items: center;
    background-color: #60759b;
    border-radius: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 1.7em;
    margin-bottom: 16px;
    padding: 20px 60px 20px 60px;
    width: 70%;
}
.categories li.category:hover{
    color:bisque
}